<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>Thai Food</title>
	<!-- Latest compiled and minified CSS & JS -->
	<link href="https://maxcdn.bootstrapcdn.com/bootswatch/4.0.0/flatly/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" href="css/styles.css" media="screen" title="no title">
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</head>

<body>


<h1>Let's Eat Thai Food!</h1>

{{!-- <h2>Cats that are not sleepy!</h2> --}}

<ul>
  {{#each thaiFood}}
    {{#unless this.devoured}}
<li>
  {{this.thaiFoodName}}
</li>
    {{/unless}}
  {{/each}}
</ul>

<h2>Food has been Eaten!</h2>

<ul>
  {{#each thaiFood}}
    {{#if this.devoured}}
<li>
  {{this.thaiFoodName}}
</li>
    {{/if}}
  {{/each}}
</ul>


<h2>Add Thai Food</h2>
<form class="create-form" action = "/api/thaifood" method = "POST">

  <div class="form-group">
    <label for="food">:</label>
    <input type="text" id="food" name="name">
  </div>

  {{!-- <div class="form-group">
    <label for="hungry">Hungry?</label><br>
    <input type="radio" name="devoured" value="1" checked> Order it!<br>
    <input type="radio" name="devoured" value="0"> Cancel
  </div> --}}

  <button id = "btn" type="submit">Thai Food</button>
</form>


</body>
</html>